@page
@model LoginModel
@{
    ViewData["Title"] = "W E L C O M E";
}

<style>
    
    body {
        background-color: #f4f4f4;
    }

    .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
    }

    form {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-floating input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .form-floating label {
        color: #333;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

        .image-container img {
            max-width: 200px;
        }
</style>

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="image-container">
        <img src="https://cdn-icons-png.flaticon.com/512/3047/3047928.png" alt="Imagen" class="img-fluid" />
    </div>
    <form id="account" method="post">
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" type="password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                <label class="form-check-label" asp-for="Input.RememberMe">Remember me</label>
            </div>
        </div>
        <div class="form-group">
            <button id="login-submit" type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
    <p>
        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
    </p>
    <p>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo usuario</a>
    </p>
    <p>
        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación de correo electrónico</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}